.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding-top: 1rem;
}

.linkMenu {
  background-color: var(--primary);
  color: var(--text-over-primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.linkMenu:hover {
  filter: brightness(80%);
  transition: all 0.2s ease-in-out;
}

.linkMenu svg {
  height: 2.4rem;
  width: 2.4rem;
}
