.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding-top: 3.2rem;
}

.linkLogo {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 4.2rem;
  transition: all 0.2s ease-in-out;
}

.linkLogo:hover {
  filter: brightness(80%);
}

.linkLogo svg {
  height: 6.4rem;
  width: 6.4rem;
}
